.header {
    width: 100%;
    min-height: 4rem;
    padding: clamp(0.5rem, 2vw, 1.5rem);
    background-color: #713B6D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header h1 {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    color: white;
}

.header img {
    width: clamp(35px, 5vw, 55px);
    height: clamp(35px, 5vw, 55px);
    object-fit: cover;
    border-radius: 50%;
}