.mainContent {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(180px, 220px) 1px 1fr;
    background-color: #713B6D;
    box-sizing: border-box;
}

.sideBar {
    background-color: #713B6D;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 180px;
}

.profileLink,
.homeLink {
    display: flex;
    align-items: center;
    gap: clamp(10px, 2vw, 20px);
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.profileLink img,
.homeLink img {
    width: clamp(25px, 4vw, 36px);
}

.profileLink h2,
.homeLink h2 {
    font-size: clamp(1rem, 2vw, 1.4rem);
    color: white;
}

.footer {
    margin-top: auto;
    padding: 1rem;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.stroke2 {
    width: 1px;
    background-color: white;
    height: 100%;
}

.content {
    padding: 1rem 2rem;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.searchInput {
    width: 60%;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    border: 2px solid #472447;
    background-color: #8A4C86;
    color: white;
    outline: none;
    font-size: 1rem;
}

.createBtn {
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    border: none;
    background-color: #5A2E58;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.tag{
    padding: 0.3rem 0.8rem;
    border-radius: 12px;
    background-color: #5A2E58;
    border: 1px solid white;
    color: white;
}

.likesFilter input {
    margin-right: 5px;
}

.tagList {
    display: flex;
    gap: 0.5rem;
}