.gw{
    width: 1080px;
    height: 645px;
    background-color: #713B6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    width: 527px;
    height: 491px;
    background-color: #543C72;
    border-radius: 40px;
    border: 1px solid black;
}

.nameUser{
    width: 527px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameUserDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stroke3{
    width: 527px;
    height: 1px;
    background-color: white;
}

.postContent{
    width: 527px;
    height: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descriptionDiv{
    width: 487px;
    height: 89px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}