.header{
    width: 1280px;
    height: 71px;
    background-color: #713B6D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContent{
    width: 1280px;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.stroke{
    width: 1280px;
    height: 1px;
    background-color: white;
}

.sideBar{
    width: 200px;
    background-color: #713B6D;
}

.profileLink{
    width: 198px;
    height: 78px;
    background-color: #713B6D;
    display: flex;
    align-items: center;
    gap: 19px;
}

.homeLink{
    width: 198px;
    height: 72px;
    background-color: #713B6D;
    display: flex;
    align-items: center;
    gap: 28px;
}

.stroke2{
    width: 1px;
    height: 645px;
    background-color: white;
}

.footer{
    width: 200px;
    height: 495px;
    background-color: #713B6D;
    display: flex;
    justify-content: center;
    align-items: end;
}