.header{
    width: 1280px;
    height: 71px;
    background-color: #713B6D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    width: 1280px;
    height: 645px;
    background-color: #713B6D;
}

.stroke{
    width: 1280px;
    height: 1px;
    background-color: white;
}

.side-bar{
    width: 200px;
    height: 496px;
    background-color: #713B6D;
}

.profile-link{
    width: 198px;
    height: 78px;
    background-color: #713B6D;
    display: flex;
    align-items: center;
}

.home-link{
    width: 198px;
    height: 72px;
    background-color: #713B6D;
    display: flex;
    align-items: center;
}

.stroke-2{
    width: 1px;
    height: 645px;
    background-color: #713B6D;
}

.footer{
    width: 200px;
    height: 120px;
    background-color: #713B6D;
    display: flex;
    justify-content: center;
    align-items: center;
}